@import "tailwindcss";

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.no-spinner[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.no-spinner:focus {
  outline: none;
  box-shadow: none;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: none;
}
